body {
  background-color: #fafafa;
  color: #545454;
  margin: 2%;
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**/

.hospital-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  cursor: pointer;
}

.hospital-container::after {
  clip-path: circle(10% at 0% 0%);
  transition: all 0.3s ease-in;
  position: absolute;
  z-index: 0;
  background: #00cec9;
}

.hospital-item {
  background-color: #ffffff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  border-radius: 1em;
  padding: 1em;
  transform: scale(0.96);
  margin: 0.2em;
}

.hospital-item:hover::after {
  border: 2px solid #2683fd;
  box-shadow: 0 0 3px rgb(108, 172, 255);
  transform: scale(1);
}

@media screen and (max-width: 600px) {
  .hospital-container {
    flex-wrap: wrap;
  }
}

.redText {
  color: rgb(229, 57, 57);
  font-weight: bold;
  font-size: 20px;
}

.blueText {
  color: #2683fd;
  font-weight: bold;
  font-size: 20px;
}
/**/
.googleMapWrapper {
}

.mapHeading {
  position: relative;
}
.mapContainer {
  position: relative;
  align-items: stretch;

  /* Center the map horizontally */
  display: flex;
  justify-content: space-around;
}
iframe {
  width: 100%;
  height: 600%;

  border-radius: 0.4em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

/**/
.allsearchInputWrapper {
  display: flex;
  justify-content: center;
}

.MapWithDistanceWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.searchInputWrapper {
  background-color: #ffffff;
  width: 100%;
  min-height: 10%;
  padding: 0.8em;
  border-radius: 4em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  border: none;
  outline: none;

  display: flex;
  justify-content: space-between;

  margin: 2%;
}

input:focus::placeholder {
  color: transparent;
}

.searchInputWrapper:hover {
  border: 2px solid #2683fd;
  box-shadow: 0 0 3px rgb(108, 172, 255);
  transform: scale(1);
}

input {
  border: none;
  outline: none;
  width: 20em;
}

.FilterWrapper button {
  background-color: #ffffff;
  width: 15%;
  height: 15%;
  border-radius: 50em;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  color: #7f7f7f;
  padding: 0.5em;
}

button {
  background-color: #ffffff;
  box-shadow: none;

  border-radius: 50em;
  border: none;
  outline: none;
  width: 5rem;

  justify-content: center;
  align-items: center;
}

button:hover {
  transform: translateY(-0.08em);
  transition: scale(1.05);
}

.FilterWrapper {
  display: flex;
  justify-content: center;
}

footer {
  text-align: right;
  font-weight: normal;
  font-size: 0.8em;
  color: #7f7f7f;
  margin: 2%;
}

h1 {
  text-align: left;

  font-size: 2.5em;
  margin: 4%;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #2683fd;
}

span {
  padding: 2%;
  transform: scale(0.9);
}

p {
  margin: 2%;
}
